/* @import "./themes/rose-pine.css"; */
/* @import "./rose-pine-moon.css"; */
/* @import "./rose-pine-dawn.css"; */

@define-color border #9b5af1;
@define-color bg 		#1b0538;

* {
   font-family: "SpaceMono Nerd Font Propo";
   font-feature-settings: '"zero", "tnum", "ss01", "ss02", "ss03", "cv01"';
   font-weight: bold;
   font-size: 14px;
   background: @bg;
   color: #a9b1d6;
}

window#waybar {
   background-color: transparent;
}

#layout,
#custom-appmenuicon,
#custom-notifications,
#custom-powermenuicon,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#user,
#taskbar,
#power-profiles-daemon,
#mpd {
   border-radius: 0px;
   border: 2px solid @border;
   padding: 6px 16px;
   margin-top: 20px;
   margin-bottom: 0px;
   margin-left: 5px;
   margin-right: 5px;
}

#user {
   padding: 0px 10px;
}

#custom-appmenuicon {
   padding: 6px 12px;
   margin-left: 20px;
}

#custom-powermenuicon {
   color: @red;
   padding: 6px 12px;
   padding-right: 17px;
   margin-right: 10px;
}

#custom-notifications {
   padding: 6px 12px;
   margin-right: 20px;
}

#workspaces{
   margin-top: 20px;
   margin-bottom: 0px;
   margin-left: 5px;
   margin-right: 5px;
   color: #a9b1d6;
   border: 2px solid @border;
}
#workspaces button {
   border-radius: 10px;
   padding: 0px 5px;
}

#workspaces button.active * {
   color: @border;
}

#workspaces button:hover {
   color: @text;
}

#clock {
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

/* #battery.charging, #battery.plugged { */
/*    border: 4px solid @foam; */
/* } */

#battery {
   padding-left: 15px;
   padding-right: 15px;
}

#battery.critical:not(.charging) {
   border-color: @love;
}

label:focus {
}

#cpu {
   background-size: 300% 300%;
   animation: gradient 20s ease infinite;
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}

#memory {
   background-color: #cba6f7;
   font-weight: bolder;
}

#disk {
}

#backlight {
}

#network{
}

#network.disabled{
   background-color: #45475a;
}

#network.disconnected{
   border-color: @love;
}

#network.linked, #network.wifi{
}

#network.ethernet{
}

#pulseaudio {
}

#pulseaudio.muted {
   border-color: @love;
}

#temperature {
}

#temperature.critical {
   background-color: @red;
   color: @text;
}

#tray {
   margin-right: 20px;
}

#tray > .passive {
   -gtk-icon-effect: dim;
}

#tray > .needs-attention {
   -gtk-icon-effect: highlight;
   background-color: @red;
}

#idle_inhibitor {
   background-color: #2d3436;
}

#idle_inhibitor.activated {
   background-color: #ecf0f1;
   color: #2d3436;
}

#mpd {
   background-color: transparent;
   border: transparent;
   color: @text;
}

#mpd.disconnected {
   color: @rose;
}

#mpd.playing {
}

#mpd.stopped { }

#mpd.paused { }

#language {
   padding: 0 5px;
   margin: 0 5px;
   min-width: 16px;
}

#keyboard-state {
   padding: 0 0px;
   margin: 0 5px;
   min-width: 16px;
}

#keyboard-state > label {
   padding: 0 5px;
}

#keyboard-state > label.locked {
   background: rgba(0, 0, 0, 0.2);
}

#tooltip {
   background-color: rgba(17, 17, 17, 0.8);
}
#tooltip label {
   color: @red;
}

#taskbar {
   padding: 5px;
   margin: 10px;
}
#taskbar button {
   padding: 2px 5px;
   border-radius: 30px;
}
#taskbar button:hover {
   background-color: alpha(@light_black, .6);
}
#taskbar button.active {
   background: @background;
   background: linear-gradient(135deg , @blue, @cyan,@green);
}
#taskbar.empty {
   background-color: transparent;
   border: 2px solid transparent;
}

#power-profiles-daemon.balanced {
   border: 4px solid @gold;
}

#power-profiles-daemon.performance {
   border: 4px solid @love;
}

#power-profiles-daemon.power-saver {
   border: 4px solid @foam;
}
