@import "~/.config/rofi/themes/style-2/default.rasi"

/*****----- Main Window -----*****/
window {
  width:    400px;
  location: northeast;
  anchor:   northeast;
  x-offset: -5px;
  y-offset: 5px;
}
