layout {

    focus-ring {
        active-color   "#7367e4"
        inactive-color "#120f2e"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#7367e4"
        inactive-color "#120f2e"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#7367e4"
        inactive-color "#1e1485"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#7367e480"
    }
}

recent-windows {
    highlight {
        active-color "#7367e4"
        urgent-color "#fd4663"
    }
}
