layout {

    focus-ring {
        active-color   "#9b5af1"
        inactive-color "#1b0538"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#9b5af1"
        inactive-color "#1b0538"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#9b5af1"
        inactive-color "#430a8e"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#9b5af180"
    }
}

recent-windows {
    highlight {
        active-color "#9b5af1"
        urgent-color "#fd4663"
    }
}
