layout {

    focus-ring {
        active-color   "#9ea3ad"
        inactive-color "#1c1e21"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#9ea3ad"
        inactive-color "#1c1e21"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1c1e2170"
    }

    tab-indicator {
        active-color   "#9ea3ad"
        inactive-color "#424956"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#9ea3ad80"
    }
}

recent-windows {
    highlight {
        active-color "#9ea3ad"
        urgent-color "#fd4663"
    }
}
