@import "../../themes/rose-pine.css";
/* @import "./rose-pine-moon.css"; */
/* @import "./rose-pine-dawn.css"; */

* {
   font-family: Roboto, "JetBrainsMono Nerd Font Propo";
   font-feature-settings: '"zero", "tnum", "ss01", "ss02", "ss03", "cv01"';
   font-weight: bold;
   font-size: 20px;
   border-radius: 0px;
   border: none;
}

window#waybar {
   background-color: alpha(@base, .95);
   border-radius: 10px;
   border: 0px solid alpha(@base, .95);
   /* box-shadow: 10px 10px 5px 5px @base; */
}

#group-pulseaudio,
#group-backlight,
#custom-appmenuicon,
#custom-powermenuicon,
#custom-notifications,
#custom-drawer1,
#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#user,
#taskbar,
#power-profiles-daemon,
#workspaces,
#mpd {
   background: alpha(@muted, .4);
   border-radius: 5px;
   padding: 5px 10px;
   color: @foreground;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 3px;
   margin-right: 3px;
}

#cpu,
#memory,
#network,
#battery {
   padding: 5px 10px;
   border-radius: 0px;
   margin-left: 0px;
   margin-right: 0px;
}

#custom-drawer1 { background: transparent; }

#custom-appmenuicon {
   margin-left: 10px;
   color: @foam;
}

#custom-powermenuicon {
   margin-right: 10px;
   color: @love;
}

/* #custom-notifications { */
/*    padding-right: 10px; */
/*    border-radius: 0px 5px 5px 0px; */
/*    margin-right: 0px; */
/* } */

#workspaces{
   padding: 5px 3px;
}

#workspaces button {
   color: @text;
   border-radius: 5px;
   padding: 0px 10px;
   background-color: @muted;
   margin: 0px 3px;;
   min-width: 1px;
}

#workspaces button.active{
   color: @base;
   font-size: 1px;
   background-color: @foam;
}

#workspaces button:hover {
   color: transparent;
   background-color: @muted;
}

/* #clock { */
/*    font-family: "Roboto Black"; */
/*    font-size: 25px; */
/* } */

#battery.charging, #battery.plugged {
   color: @pine;
}

#battery {
   border-radius: 0px 5px 5px 0px;
   padding-right: 20px;
   margin-right: 3px;
}

#battery.critical:not(.charging) {
   color: @love;
}

#cpu {
   border-radius: 5px 0px 0px 5px;
   padding-left: 15px;
   margin-left: 3px;
}
#memory {
   padding-left: 10px;
}
#disk { }
#backlight { }

#pulseaudio-slider,
#backlight-slider {
  min-width: 100px;
}

#pulseaudio-slider slider,
#backlight-slider slider {
  background: transparent;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 10px;
  background: @muted;
  margin: 0px 10px;
  border-radius: 10px;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
  min-height: 10px;
  border-radius: 10px;
  background: @foam;
}


#network{
   padding-left: 10px;
}

#bluetooth {
   border-radius: 5px 0px 0px 5px;
   padding-left: 10px;
   margin-right: 0px;
}
#bluetooth.off,
#bluetooth.disabled,
#network.disabled,
#network.disconnected{
   color: @love;
}

#network.linked, #network.wifi{ }
#network.ethernet{ }

#pulseaudio { }
#pulseaudio.muted {
   color: @love;
}

#temperature { }
#temperature.critical {
   background-color: @red;
   color: @text;
}

#tray { }
#tray > .passive {
   -gtk-icon-effect: dim;
}
#tray > .needs-attention {
   -gtk-icon-effect: highlight;
   background-color: @red;
}

#idle_inhibitor {
   background-color: #2d3436;
}

#idle_inhibitor.activated {
   background-color: #ecf0f1;
   color: #2d3436;
}

#mpd {
   background-color: transparent;
   border: transparent;
   color: @text;
}

#mpd.disconnected {
   color: @rose;
}

#mpd.playing {
}

#mpd.stopped { }

#mpd.paused { }

#language {
   padding: 0 5px;
   margin: 0 5px;
   min-width: 16px;
}

#keyboard-state {
   padding: 0 0px;
   margin: 0 5px;
   min-width: 16px;
}

#keyboard-state > label {
   padding: 0 5px;
}

#keyboard-state > label.locked {
   background: rgba(0, 0, 0, 0.2);
}

tooltip {
   border-radius: 8px;
   border: 4px solid @base;
   background-color: alpha(@base, .8);
}
tooltip label {
}

#taskbar {
   padding: 0px;
}

#taskbar button {
   border-radius: 5px;
   padding: 5px 10px;
}

#taskbar button:hover {
   background-color: @muted;
}
#taskbar button.active {
   background-color: @foam;
}
#taskbar.empty {
   background: transparent;
}

#power-profiles-daemon.balanced {
   background-color: @gold;
   color: @base;
}

#power-profiles-daemon.performance {
   background-color: @love;
   color: @base;
}

#power-profiles-daemon.power-saver {
   background-color: @foam;
   color: @base;
}
